@tailwind base;
@tailwind components;
@tailwind utilities;

.myBtn {
    @apply btn bg-gradient-to-r from-indigo-400 to-purple-500 border-none
}

.myContainer {
    width: 1280px;
    margin: 0 auto;
}

@media all and (max-width: 600px) {
    .banner-section {
        width: 100% !important;
    }

    .banner-section div {
        width: 100%;
    }

    .job-categories {
        flex-direction: column;
        align-items: center;
    }

    .barChart {
        /* width: 200px !important; */
    }
}